.info-container
  -if @user == current_user
    .changeable
      #login
        = @user.login
      #login-form
        %input{type: "text"}
      %strong About:
      %pre#about
      #about-form
        %textarea
  -else
    #login
      = @user.login
