body {
  background-color: #335;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a{
  text-decoration: none;
  outline: none;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.field_with_errors {
  display: table;
  input {
    background-color: #fcc;
  }
}

#error_explanation {
  width: 400px;
  border: none;
  border-left: 20px solid #c22;
  box-sizing:border-box;
  background-color: #fdd;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
  }

  ul li {
    font-size: 12px;
    list-style: disc;
  }
}

#notice, #error {
  border: none;
  margin-top: 5px;
  .close{
    &:hover{
      color:black;
      cursor: pointer;
    }
  }
}

#notice {
  color: green;
  background-color: #dfd;
  border-left: 20px solid #2c2;
}

#error {
  background-color: #fdd;
  border-left: 20px solid #c22;
}

#error_explanation, #notice, #error{
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -o-border-radius:10px;
  padding: 7px;
  margin-bottom: 20px;
}

main{
  margin-top:60px;
  a {
    color: #666;
  }
}

header{
  position:fixed;
  z-index: 10;
  background-color: #449;
  top:0px;
  left:0px;
  height:50px;
  width:100%;

  nav {
    position: absolute;
    vertical-align: middle;
    right:10px;
    padding:10px 20px;
    a {
      opacity:0.5;
      margin:4px;
      padding:5px;
      &:hover{
        opacity:1;
      }
    }
  }
  
  .search {
    width: 200px;
    vertical-align: middle;
    margin-bottom:20px;
    background-image: url(/assets/search.png);
    background-repeat:no-repeat;
    background-position:6px;
  }
}

#qsearch-res {
  position:fixed;
  z-index: 20;
  border: 1px solid #eee;
  background-color:#fafaff;
  padding:0px;
  bpx-sizing: border-box;
  strong, p{
    display: block;
    padding:5px 20px;
    margin: 0;
  }
  a{
    display: block;
    position: relative;
    padding: 5px;
    margin:0;
    font-size:12px;
    color: #222;
    &:hover{
      background-color: #f0f0ff;
    }
    span{
      display: inline-block;
      margin:0px 10px;
    }
  }
}

#user-form {
  padding:10px;
  margin:10px auto;
  width:400px;
  h1{
    color: white;
    text-shadow: -1px 0 #aaa, 0 1px #aaa, 1px 0 #aaa, 0 -1px #aaa;
    font-size:30px;
  }
  form{
    .field{
      width:400px;
      input[type="email"],input[type="password"],input[type="text"]{
        box-sizing:border-box;
        width:400px;
        height:37px;
        font-size: 25px;
      }
    }
  }
  a, p, label, em{
    color:white;
  }
}

.button-default{
  margin:5px 0px;
  font-size: 20px;
  color: white;
  background-color:#449;
  padding:5px;
  border: none;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  -o-border-radius:0px;
  &:hover{
    background-color:#55b;
    cursor: pointer;
  }
}

.info-container {
  background-color: white;
  margin:50px auto;
  padding:20px;
  width:600px;
}

#login-text {
  display: inline-block;
  max-width:500px;
  word-wrap:break-word;
  font-size: 20px;
  margin-top:10px;
  margin-bottom:20px;
}

#login-form input[type="text"]{
  border: none;
  font-size:20px;
  font-family: verdana, arial, helvetica, sans-serif;
}

#login-form input[type="submit"]{
  display: inline;
}

pre#about-text {
  display: inline-block;
  max-width:500px;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: white;
  margin:0px;
  padding: 0px;
}

#about-form textarea{
  height:80px;
  width:400px;
  resize:vertical;
  border:none;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:13px;
  line-height: 18px;
}

.download-button {
  float: left;
  width: 128px;
  padding:5px 20px;
  &:hover {
    background-color: #eef;
    cursor: pointer;
  }
}

#dowload-buttons-positioner:after{
    content:'';
    clear:both;
    display:table;
}

.new-post{
  padding-top:10px;
  input[type="text"] {
    width:500px;
    height:25px;
    margin:5px;
    font-size:20px;
  }
}

.inputfile, #avatar {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#avatar-image {
  display: inline-block;
  cursor: pointer;
}

.inputfile + label {
  display: block;
  font-size: 20px;
  padding:7px;
  color: white;
  background-color:#449;
  margin: 5px;
  width: 200px;
  border: none;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;

  &:hover {
    background-color:#000;
    cursor: pointer;
  }
}

.title{
  font-size: 20px;
}

a.title{
  text-decoration: underline;
  color: blue;
}

#posts img{
  padding: 10px 0px;
}

iframe {
  padding:10px 0px;
}

.ava-thumb{
  width:70px;
}

.post {
  margin:20px auto;
  padding:0;
  width:640px;
  .info-container{
    margin:0;
  }
}

.pagination {
  margin:10px auto;
  width: 600px;
  padding:20px;
  font-size: 14px;
  span, em, a{
    background: #fff;
    border:1px solid #ccf;
    padding:10px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:0px;
  }
  a:hover{
    background:#ccf;
  }
}

.post .close{
  position: absolute;
  top:10px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
  color: #ddd;
  &:hover{
    color:black;
  }
}

.post .info-container {
  position: relative;
  z-index: 1;
}

